{% extends 'base.html.twig' %}

{% block title %}Controle de séries{% endblock %}

{% block body %}

<h1>Lista de Séries</h1>

<a href="series/add" class="btn btn-dark mb-3">Adicionar</a>
<ul class="list-group">
    {% for serie in seriesList %}
        <li class="list-group-item">{{serie}}</li>
    {% endfor %}
</ul>
{% endblock %}
