{% extends 'base.html.twig' %}

{% block title %} Adicionar Série {% endblock %}

{% block body %}
  <form>
    <div class="mb-3 mt-4">
      <label for="name" class="form-label display-6">Nome da série: </label>
      <input type="text" class="form-control"/>
    </div>
      <input type="submit" class="btn btn-dark" value="Enviar"/>
  </form>  
{% endblock %}